html,
body {
     height: 100%;
     padding: 0;
     margin: 0;
}
* {
     font-family: Arial, Helvetica, sans-serif;
     color: #333;
     box-sizing: border-box;
}
h3 {
     color: wheat;
}

a h3:hover{
     color: white;
}

a {
     text-decoration: none;
}

.wrapper{
     min-width: 1050px;
     min-height: 100%;
     background-color: #131313;
}

.sICon {
     background-color: #efefee;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
}
.col {
     background-color: #fff;
     min-height: 300px;
     max-height: 100%;
     width: 450px;
     box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
     padding: 20px 35px;
     overflow-y: auto;
}
.col form {
     display: flex;
     flex-direction: column;
     padding-top: 25px;
}

.col form input[type="text"],
.col form input[type="email"],
.col form input[type="password"] {
     font-size: 14px;
     margin: 10px 0;
     border: none;
     border-bottom: 1px solid #dedede;
}

.col .hd span {
     font-size: 14px;
}
.col .hd img {
     width: 100px;
}

.col .hd {
     padding: 20px 0;
 }

.col h3 {
     font-size: 24px;
     font-weight: 400;
     line-height: 32px;
     margin: 0;
     padding-top: 16px;
     color: #000;
}

.col form input[type="submit"] {
     background-color: #4285f4;
     color: #fff;
     height: 36px;
     width: 88px;
     border: none;
     border-radius: 3px;
     font-weight: 500;
     margin-top: 10px;
     margin-bottom: 20px;
     font-size: 16px;
}
.sIMes {
     font-size: 14px;
     font-weight: 400;
     text-decoration: none;
}

.errMess{
     color: #f00;
     font-size: 14px;
     font-weight: 400;
     text-align: center;
}
.preImg,
.preVid {
    width: 100%;
}

.preCon {
    position: relative;
    display: flex;
}
.preCon.small {
     width: 230px;
     height: 129px;
     margin-right: 4px;
     display: inline-flex;
 }
.preCon.small img{
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

.preOve {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
}

.preOve .mainDtl h3{
     color: whitesmoke;
     font-size: 40px;
     margin: 15px 0;
}

.preOve .mainDtl{
     position: relative;
     top: 35%;
     margin-left: 50px;
     display: flex;
     flex-direction: column;
}

.mainDtl button {
     background-color: rgba(51,51,51,0.4);
     color: #fff;
     border: none;
     min-width: 150px;
     padding: 0 38px;
     height: 50px;
     max-height: 50px;
     font-size: 18px;
     border-radius: 2px;
     margin-bottom: 15px;
     margin-right: 5px;
     cursor: pointer;
 }
 .mainDtl button:hover {
     background-color: #e6e6e6;
     color: #000;
 }
 button i {
     color: inherit;
 }
 .category{
      display: flex;
      flex-direction: column;
      padding: 10px 0;
 }

 .entities{
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
 }

 .preCat{
      padding: 0 50px;
 }
 .errBanner {
      color: wheat;
      position: absolute;
      top: 25%;
      width: 100%;
      text-align: center;
      font-size: 18px;
 }